@model CvProjekt.Models.User

@section Scripts {
<script src="~/js/resume-editor.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = "Redigera Cv";
}

<div class="container bg-light">
    <h1 class="text-center">Redigera ditt Cv</h1>
    <input type="hidden" id="active-tab-choose" value="@TempData["ActiveTab"]" />

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success text-center mx-5 mt-3">
            @TempData["SuccessMessage"]
        </div>
    }

    <nav>
        <div class="nav nav-tabs bg-white mr-5 ml-5 mt-5" role="tablist">
            <button class="nav-link active" id="nav-base-tab" data-bs-toggle="tab" data-bs-target="#nav-base"
                type="button" role="tab" aria-controls="nav-base" aria-selected="true">
                Basinformation
                @{
                    var hasBaseErrors = ViewData.ModelState["FirstName"]?.Errors.Count > 0 ||
            ViewData.ModelState["LastName"]?.Errors.Count > 0 ||
            ViewData.ModelState["Adress"]?.Errors.Count > 0 ||
            ViewData.ModelState["Email"]?.Errors.Count > 0 ||
            ViewData.ModelState["ImgUrl"]?.Errors.Count > 0;
                }
                @if (hasBaseErrors)
                {
                    <span class="text-danger">*</span>
                }
            </button>

            <button class="nav-link" id="nav-qualif-tab" data-bs-toggle="tab" data-bs-target="#nav-qualif" type="button"
                role="tab" aria-controls="nav-qualif" aria-selected="true">
                Kompetenser</button>

            <button class="nav-link" id="nav-edu-tab" data-bs-toggle="tab" data-bs-target="#nav-edu" type="button"
                role="tab" aria-controls="nav-edu" aria-selected="true">
                Utbildning</button>

            <button class="nav-link" id="nav-work-tab" data-bs-toggle="tab" data-bs-target="#nav-work" type="button"
                role="tab" aria-controls="nav-work" aria-selected="true">
                Arbetslivserfarenhet</button>
        </div>
    </nav>
    <div class="tab-content bg-white mr-5 ml-5 mb-5" id="nav-tabContent">
        <div class="tab-pane fade show active p-3" id="nav-base" role="tabpanel" aria-labelledby="nav-base-tab">
            <h2>Basinformation</h2>

            <form asp-action="EditResumeInfo" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label asp-for="FirstName" class="form-label">Förnamn</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="LastName" class="form-label">Efternamn</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Adress" class="form-label">Adress</label>
                    <input asp-for="Adress" class="form-control" />
                    <span asp-validation-for="Adress" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Epost</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ImgUrl" class="form-label">Profilbild</label>
                    <input asp-for="ImgUrl" class="form-control" />
                    <span asp-validation-for="ImgUrl" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Spara ändringar</button>
            </form>
        </div>

        <div class="tab-pane fade p-3" id="nav-qualif" role="tabpanel" aria-labelledby="nav-qualif-tab">
            <div class="card mb-4 border-dashed bg-light">
                <div class="card-body">
                    <h2>Kompetenser</h2>
                    <form asp-action="EditQualifications" method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Resume.Id" />

                        <div id="qualifications-container">

                            @if (Model.Resume?.Qualifications != null)
                            {

                                var qList = Model.Resume.Qualifications.ToList();

                                @for (int i = 0; i < qList.Count; i++)
                                {
                                    <div class="input-group mb-2 qualification-row">
                                        <input type="text" name="Resume.Qualifications[@i].Name" value="@qList[i].Name"
                                    class="form-control" placeholder="Kompetens..." />

                                        <button type="button" class="btn btn-outline-danger"
                                    onclick="removeQualifRow(this)">X</button>
                                    </div>
                                }
                            }

                        </div>

                        <div class="d-flex justify-content-between mt-3">
                            <button type="button" class="btn btn-secondary" onclick="addNewQualifRow()">+ Lägg till
                                rad</button>
                            <button type="submit" class="btn btn-success">Spara alla kompetenser</button>
                        </div>



                    </form>
                </div>
            </div>
        </div>

        <div class="tab-pane fade p-3" id="nav-edu" role="tabpanel" aria-labelledby="nav-edu-tab">
            <h2>Utbildning</h2>

            <form asp-action="EditEducation" method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Resume.Id" />
            
            <div id="education-container">

            @if (Model.Resume?.EducationList != null)
            {

                var eList = Model.Resume.EducationList.ToList();

                for (int i = 0; i < eList.Count; i++)
                {
                    <div class="container bg-light border rounded p-3 mb-3 education-card">

                        <div class="row justify-content-md-center">
                            <div class="col-md-4">
                                <label class="form-label small">Skola</label>
                                <input type="text" data-prop="SchoolName" name="Resume.EducationList[@i].SchoolName" value="@eList[i].SchoolName"
                                class="form-control" placeholder="Skolnamn..." />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label small">Utbildning</label>
                                <input type="text" data-prop="DegreeName" name="Resume.EducationList[@i].DegreeName" value="@eList[i].DegreeName"
                                class="form-control" placeholder="Utbildningsnamn..." />
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-md-4">
                                <label class="form-label small">Startår</label>
                                <input type="text" data-prop="StartYear" name="Resume.EducationList[@i].StartYear" value="@eList[i].StartYear"
                                class="form-control" placeholder="Startår..." />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label small">Slutår</label>
                                <input type="text" data-prop="EndYear" name="Resume.EducationList[@i].EndYear" value="@eList[i].EndYear"
                                class="form-control" placeholder="Slutår..." />
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-md-6">
                                <label class="form-label small">Beskrivning</label>
                                <textarea data-prop="Description" name="Resume.EducationList[@i].Description" class="form-control" rows="2" placeholder="Beskrivning...">@eList[i].Description</textarea>
                            </div>
                        </div>
                        <div class="rowjustify-content-md-center">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-outline-danger"
                                onclick="removeEduCard(this)">X</button>
                            </div>
                        </div>

                    </div>

                }
            }
            </div>

            <div class="d-flex justify-content-between mt-3">
                <button type="button" class="btn btn-secondary" onclick="addNewEduCard()">+ Lägg till
                    utbildning</button>
                <button type="submit" class="btn btn-success">Spara utbildning</button>
            </div>

            </form>

        </div>

        <div class="tab-pane fade p-3" id="nav-work" role="tabpanel" aria-labelledby="nav-work-tab">
            <h2>Arbetslivserfarenhet</h2>

            <form asp-action="EditWork" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Resume.Id" />
            
                <div id="work-container">

                @if (Model.Resume?.WorkList != null)
                {

                    var wList = Model.Resume.WorkList.ToList();

                    for (int i = 0; i < wList.Count; i++)
                    {
                        <div class="container bg-light border rounded p-3 mb-3 work-card">

                            <div class="row justify-content-md-center">
                                <div class="col-md-4">
                                    <label class="form-label small">Företag</label>
                                    <input type="text" data-prop="CompanyName" name="Resume.WorkList[@i].CompanyName" value="@wList[i].CompanyName"
                                    class="form-control" placeholder="Företagsnamn..." />
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label small">Position</label>
                                    <input type="text" data-prop="Position" name="Resume.WorkList[@i].Position" value="@wList[i].Position"
                                    class="form-control" placeholder="Position..." />
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-md-4">
                                    <label class="form-label small">Start datum</label>
                                    <input type="date" data-prop="StartDate" name="Resume.WorkList[@i].StartDate" value="@wList[i].StartDate.ToString("yyyy-MM-dd")"
                                    class="form-control" placeholder="Startdatum..." />
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label small">Slutår</label>
                                    <input type="date" data-prop="EndDate" name="Resume.WorkList[@i].EndDate" value="@wList[i].EndDate?.ToString("yyyy-MM-dd")"
                                    class="form-control" placeholder="Slutdatum..." />
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-md-6">
                                    <label class="form-label small">Beskrivning</label>
                                    <textarea data-prop="Description" name="Resume.WorkList[@i].Description" class="form-control" rows="2" placeholder="Beskrivning...">@wList[i].Description</textarea>
                                </div>
                            </div>
                            <div class="rowjustify-content-md-center">
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-outline-danger"
                                    onclick="removeWorkCard(this)">X</button>
                                </div>
                            </div>

                    </div>

                }
            }
                </div>

                <div class="d-flex justify-content-between mt-3">
                    <button type="button" class="btn btn-secondary" onclick="addNewWorkCard()">+ Lägg till
                        arbete</button>
                    <button type="submit" class="btn btn-success">Spara arbete</button>
                </div>

            </form>

        </div>

        </div>
    </div>
</div>
