@model IEnumerable<CvProjekt.Models.Message>

@{
    ViewData["Title"] = "Se Meddelanden";
}

<h1>Meddelanden</h1>

@if (Model != null && Model.Any())
{
    @foreach(var mess in Model)
    {
        <div class="bg-light rounded-3 p-4 mb-3 shadow">
            
            
            <h3>Fr책n: 
                @if (mess.FromUser != null)
                {
                    <span>@mess.FromUser.FirstName @mess.FromUser.LastName</span>
                }
                else
                {
                    <span style="font-style:italic;">@mess.SenderName</span>
                }
            </h3>

            <div class="align-content-center p-4 mb-3 rounded" style="background-color: var(--bs-gray-200)">
                <p>@mess.Text</p>
                <p>@mess.Date.ToString("yyyy-MM-dd HH:mm")</p>
            </div>
            
            @if(mess.Read)
            {
                <span class="badge bg-success">L채st</span>
            }
            else 
            {
                <span class="badge bg-warning">Ol채st</span>
                <form asp-action="ReadMessage" asp-route-id="@mess.Id" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-primary btn-sm">Markera som l채st</button>
                </form>
            }
            <a asp-action="DeleteMessage" asp-route-id="@mess.Id" class="btn btn-danger btn-sm">
                Radera
            </a>
        </div>
    }
}
else
{
    <p>Inga meddelanden hittade</p>
}